<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <h2>Edit Your Post</h2>
    <p>post id: <%= post.id %></p>
    <p>post title: <%= post.title %></p>

    <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
      <br />
      <textarea type="text" name="caption"><%= post.caption %></textarea>
      <br />
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
