<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h2>The total number of user are: <%= count %></h2>
    <form action="/users" method="get">
      <button>Show All Users</button>
    </form>
    <br />
    <form action="/users/add" method="get">
      <button>Add New User</button>
    </form>
    <br />
    <form action="/users/add-rendom" method="post">
      <button>Add Random User Data</button>
    </form>
  </body>
</html>
